import(jaspBase)
export(EquivalenceIndependentSamplesTTest)
export(EquivalencePairedSamplesTTest)
export(EquivalenceOneSampleTTest)
export(EquivalenceBayesianIndependentSamplesTTest)
export(EquivalenceBayesianPairedSamplesTTest)
export(EquivalenceBayesianOneSampleTTest)
